{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">{{ personne }}</h2>
						<h3>Parents</h3>
						Père :
						{% if personne.pere.id is defined %}
							<a href="{{ path('personne', {'id': personne.pere.id}) }}">{{ personne.pere }}</a>
						{% endif %}
						<br>
						Mère :
						{% if personne.mere.id is defined %}
							<a href="{{ path('personne', {'id': personne.mere.id}) }}">{{ personne.mere }}</a>
						{% endif %}
						<h3>Fratrie</h3>
						{% for elem in fratrie %}
							<div>
								<a href="{{ path('personne', {'id': elem.id}) }}">{{ elem }}</a>
							</div>
						{% endfor %}
						<h3>Enfants</h3>
						{% for enfant in enfants %}
							<div>
								<a href="{{ path('personne', {'id': enfant.id}) }}">{{ enfant }}</a>
							</div>
						{% endfor %}
						<div id="content">
							<h3>Chronologie</h3>
							<ul class="timeline">
								{% for evenement in evenements|sort((a, b) => a.date <=> b.date) %}
									<li class="event" data-date="{{ evenement.date|date("d/m/Y") }}">
										<h3>{{ evenement.type }}</h3>
										<p>{{ evenement.description }}</p>
										<p>
											<i>{{ evenement.source }}</i>
										</p>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
